{
	"semi": false,
	"trailingComma": "all",
	"singleQuote": true,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 90,
	"tabWidth": 2,
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.vue",
			"options": {
				"parser": "vue",
				"tabWidth": 2
			}
		}
	]
}
