@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--color-cb-primary-50: #ffefef;
	--color-cb-primary-100: #ffdada;
	--color-cb-primary-200: #ffbbbb;
	--color-cb-primary-300: #ff8c8d;
	--color-cb-primary-400: #ff4a4b;
	--color-cb-primary-500: #ff1315;
	--color-cb-primary-600: #ff0002;
	--color-cb-primary-700: #e60001;
	--color-cb-primary-800: #bd0001;
	--color-cb-primary-900: #9e0102; /* Original */
	--color-cb-primary-950: #560001;

	--color-cb-secondary-50: #f8f7f7;
	--color-cb-secondary-100: #f0eeee;
	--color-cb-secondary-200: #dddada;
	--color-cb-secondary-300: #bfbaba;
	--color-cb-secondary-400: #9c9495;
	--color-cb-secondary-500: #807778;
	--color-cb-secondary-600: #696061;
	--color-cb-secondary-700: #554f4f;
	--color-cb-secondary-800: #494343;
	--color-cb-secondary-900: #3f3b3c;
	--color-cb-secondary-950: #1f1d1d; /* Original */

	--color-cb-tertiary-50: #f7f7f7;
	--color-cb-tertiary-100: #ededed;
	--color-cb-tertiary-200: #e1e1e1; /* Original */
	--color-cb-tertiary-300: #c8c8c8;
	--color-cb-tertiary-400: #adadad;
	--color-cb-tertiary-500: #999999;
	--color-cb-tertiary-600: #888888;
	--color-cb-tertiary-700: #7b7b7b;
	--color-cb-tertiary-800: #676767;
	--color-cb-tertiary-900: #545454;
	--color-cb-tertiary-950: #363636;

	--color-cb-quaternary-50: #f6f6f6;
	--color-cb-quaternary-100: #e7e7e7;
	--color-cb-quaternary-200: #d1d1d1;
	--color-cb-quaternary-300: #b0b0b0;
	--color-cb-quaternary-400: #888888;
	--color-cb-quaternary-500: #6d6d6d;
	--color-cb-quaternary-600: #5d5d5d;
	--color-cb-quaternary-700: #4f4f4f;
	--color-cb-quaternary-800: #454545;
	--color-cb-quaternary-900: #3d3d3d;
	--color-cb-quaternary-950: #2b2b2b; /* Original */

	--color-cb-quinary-50: #f6f6f6;
	--color-cb-quinary-100: #e7e7e7;
	--color-cb-quinary-200: #d1d1d1;
	--color-cb-quinary-300: #b0b0b0;
	--color-cb-quinary-400: #888888;
	--color-cb-quinary-500: #6d6d6d;
	--color-cb-quinary-600: #5d5d5d;
	--color-cb-quinary-700: #4f4f4f;
	--color-cb-quinary-800: #454545;
	--color-cb-quinary-900: #3a3a3a; /* Original */
	--color-cb-quinary-950: #262626;
}

html:focus-within {
	scroll-behavior: smooth;
}

.min-h-dvh-wo-nav {
	min-height: calc(100vh - 80px);
}

.max-h-dvh-wo-nav {
	max-height: calc(100vh - 80px);
}

.remove-scrollbar::-webkit-scrollbar {
	display: none;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: currentColor;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: currentColor;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.list-complete-item {
	transition: all 0.7s;
	display: inline-block;
}

.list-complete-enter {
	opacity: 0;
	transform: translateX(50px);
}

.list-complete-leave-active {
	opacity: 0;
	transform: translateX(-30px);
}

.list-move,
/* apply transition to moving elements */
.list-enter-active {
	transition: all 1s ease;
}

.list-leave-active {
	transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}

/* Personnalisation globale de la scrollbar */
.scrollBarLight::-webkit-scrollbar {
	width: 5px; /* Largeur de la scrollbar */
}

/* Le fond de la track de la scrollbar (partie sur laquelle la thumb se déplace) */
.scrollBarLight::-webkit-scrollbar-track {
	background: transparent; /* Rend le fond de la track transparent */
}

/* La thumb de la scrollbar (la partie que l'on déplace) */
.scrollBarLight::-webkit-scrollbar-thumb {
	background: var(--color-tertiary); /* Couleur de la thumb */
	border-radius: 2.5px; /* Arrondi les bords de la thumb pour un aspect plus doux */
}

/* Pour Firefox */
.scrollBarLight {
	scrollbar-width: thin; /* "auto" ou "thin" */
	scrollbar-color: var(--color-tertiary) transparent; /* Couleur de la thumb et de la track */
}